/* Google fonts. */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body {

    /* For font style. */
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: #fff;

}

/* 
                                                Header.
    ===========================================================================================
*/

/* 
                                        Savor the flavors section.
    =======================================================================================
*/
header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(0deg, rgb(16, 16, 16) -19.5%, rgba(16, 16, 16, 0) 100%), url("../assets/images/hero_bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#savor_the_flavors_section {
    text-align: center;
    margin: 16.5rem 28rem;
}

#savor_the_flavors_section .savor_span {
    color: rgb(255, 255, 255);
    font-size: 2rem;
    font-weight: 600;
    opacity: 0.8;
}

#savor_the_flavors_section h2 {
    color: rgb(255, 255, 255);
    font-size: 4rem;
    font-weight: 700;
    margin: 1rem 0 1.5rem;
}

#savor_the_flavors_section p {
    color: rgb(255, 255, 255);
    font-size: 1.125rem;
    font-weight: 500;
    opacity: 0.7;
    margin-bottom: 2rem;
}

#savor_the_flavors_section a {
    padding: 1.313rem 2rem;
    border-radius: .5rem;
    background: rgb(82, 195, 3);
    color: rgb(255, 255, 255);
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
    display: inline-block;
}


/* 
                                Your favorite brands food section.
    =======================================================================================
*/
#your_favorite_brands_food_section {
    padding: 10.438rem 18.75rem 11.188rem;
    text-align: center;
}

.your_favorite_brands_food_section_top {
    margin: 0 19.656rem;
}

.your_favorite_brands_food_section_top span {
    opacity: 0.6;
    color: rgb(16, 16, 16);
    font-size: 1.5rem;
    font-weight: 500;
}

.your_favorite_brands_food_section_top h2 {
    color: rgb(16, 16, 16);
    font-size: 3rem;
    font-weight: 700;
    margin-top: 1rem;
}

.your_favorite_brands_food_section_bottom {
    margin: 3rem 0 4rem;
}

.your_favorite_brands_food_section_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    border-radius: 1rem;
}

.your_favorite_brands_food_section_grid div a {
    display: inline-block;
    margin: 2rem 0 1.5rem;
    padding: 0.875rem 2rem;
    border-radius: .5rem;
    background: rgba(82, 195, 3, 0.15);
    color: rgb(16, 16, 16);
    font-size: 1.5rem;
    font-weight: 600;
}

.your_favorite_brands_food_section_grid div h3 {
    margin-bottom: 1.5rem;
    color: rgb(16, 16, 16);
    font-size: 2.5rem;
    font-weight: 600;
}

.your_favorite_brands_food_section_grid p {
    margin-bottom: 1rem;
    color: rgb(16, 16, 16);
    font-size: 1.125rem;
    font-weight: 500;
    opacity: 0.7;
}

#your_favorite_brands_food_section button {
    color: rgb(255, 255, 255);
    font-size: 1.25rem;
    font-weight: 600;
    cursor: pointer;
    padding: 1.313rem 2rem;
    border-radius: .5rem;
    background: rgb(82, 195, 3);
    border: none;
}


/* 
                                    We always make sure section.
    =======================================================================================
*/
#we_always_make_sure_section {
    margin-bottom: 12rem;
}

.we_always_make_sure_section_flex {
    display: flex;
    width: 100%;
}

.we_always_make_sure_section_flex>div {
    width: 50%;
}

.we_always_make_sure_section_flex_right {
    padding: 8.5rem 0;
}

.we_always_make_sure_section_flex_right div {
    padding: 0 5.594rem;
    text-align: center;
}

.we_always_make_sure_section_flex_right div h3 {
    color: rgb(16, 16, 16);
    font-size: 3rem;
    font-weight: 700;
    line-height: 4rem;
}

.we_always_make_sure_section_flex_right div p {
    color: rgb(16, 16, 16);
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.75rem;
    margin: 1.5rem 0 3rem;
    opacity: 0.6;
}

.we_always_make_sure_section_flex_right h4 {
    color: rgb(16, 16, 16);
    font-size: 2rem;
    font-weight: 600;
    line-height: 2.375rem;
    opacity: 0.7;
    border-bottom: 1px solid rgba(16, 16, 16, 0.2);
    border-top: 1px solid rgba(16, 16, 16, 0.2);
    padding: 1.875rem 0;
    text-align: center;
    margin-bottom: 2rem;
}

.we_always_make_sure_section_flex_right ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}


/* 
                                            Card section.
    =======================================================================================
*/
#card_section {
    margin: 13.5rem 48.25rem 7.5rem 45.25rem;
    text-align: center;
}

#card_section img {
    border-radius: 1rem;
}

#card_section span {
    display: inline-block;
    padding: 0.875rem 2rem;
    color: rgb(16, 16, 16);
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.75rem;
    border-radius: .5rem;
    background: rgba(82, 195, 3, 0.15);
    margin: 2rem 0 1.5rem;
}

#card_section div h4 {
    color: rgb(16, 16, 16);
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 2.938rem;
}

#card_section div p {
    opacity: 0.7;
    color: rgb(16, 16, 16);
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.75rem;
    margin: 1.5rem 0 4rem;
}

#card_section button {
    border-radius: .5rem;
    background: rgb(82, 195, 3);
    padding: 1.313rem 2rem;
    color: rgb(255, 255, 255);
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.438rem;
    border: none;
    cursor: pointer;
}


/* 
                                        Social section.
    =======================================================================================
*/
#social_section {
    padding: 8.563rem 19.125rem 8.375rem;
    text-align: center;
    background-image: url("../assets/images/social_bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#social_section div {
    margin: 0 16.094rem;
}

#social_section h4 {
    color: rgb(16, 16, 16);
    font-size: 3rem;
    font-weight: 700;
    line-height: 4rem;
}

#social_section p {
    opacity: 0.6;
    color: rgb(16, 16, 16);
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.75rem;
    margin-top: 1.5rem;
}

#social_section h5 {
    color: rgb(16, 16, 16);
    font-size: 2rem;
    font-weight: 600;
    line-height: 2.375rem;
    border-bottom: 1px solid rgba(16, 16, 16, 0.2);
    border-top: 1px solid rgba(16, 16, 16, 0.2);
    padding: 1.875rem 0;
    opacity: 0.7;
    margin: 3rem 0 2rem;
}

#social_section ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}